<div class="modal fade" id="existant-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title text-uppercase g-font-size-default g-color-black g-mb-8" id="exampleModalLabel">
                    <span id="title_modal-existant" > Ajout d'une nouvelle analyse </span> 
                    <span id="title_modal-edit" > Modification des informations de l'analyse </span> 
                </span>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id='form_existant-analyse'>
                    <div class="form-group row g-mb-25">
                        <label for="example-text-input" class="col-sm-5 col-md-4 col-lg-3 col-xl-2  col-form-label">Patient</label>
                        <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10">
                            <select class="custom-select rounded-0 g-brd-gray-light-v7 g-brd-secondary--focus g-px-6 g-py-5" id='option_patient-existant'>
                                <option value="" disabled selected></option>
                                {% for p in patients %}
                                    <option id='optionPatient-{{p.id}}' value="{{p.id}}">{{p.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row g-mb-25">
                        <label for="example-text-input" class="col-sm-5 col-md-4 col-lg-3 col-xl-2  col-form-label">Medecin</label>
                        <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10">
                            <select class="custom-select rounded-0 g-brd-gray-light-v7 g-brd-secondary--focus g-px-6 g-py-5" id='option_medecin-existant'>
                                <option value="" disabled selected></option>
                                {% for m in medecins %}
                                    <option id='optionMedecin-{{m.id}}' value="{{m.id}}">{{m.nom}} - {{m.specialite}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row g-mb-25">
                        <label for="example-tel-input" class="col-sm-5 col-md-4 col-lg-3 col-xl-2  col-form-label">Date</label>
                        <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10">
                            <input class="form-control form-control-md g-color-gray-dark-v12 g-brd-gray-light-v2 g-brd-secondary--focus g-rounded-4 g-px-6 g-py-5" type="date" name='name_date' id="dateAnalyse-existant">
                        </div>
                    </div>
                    <input type="reset" id="reset-existant" value="Reset" style="display:none">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn u-btn-primary" id='existant-dismiss' type="button" data-dismiss="modal">Annuler</button>
                <button class="btn u-btn-secondary" id='existant-submit'>Ajouter</button>
                <button class="btn u-btn-secondary" id='edit-submit'>Modifier</button>
            </div>
        </div>
    </div>
</div>