{%load static%}
<!-- Favicon -->
<link rel="shortcut icon" href="../../favicon.ico">
<!-- Google Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{% static 'root/assets/vendor/bootstrap/bootstrap.min.css' %}">
<!-- CSS Global Icons -->
<link rel="stylesheet" href="{% static 'root/assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/icon-line/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/icon-etlinefont/style.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/icon-line-pro/style.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/icon-hs/style.css' %}">

<link rel="stylesheet" href="{% static 'assets/vendor/hs-admin-icons/hs-admin-icons.css' %}">

<link rel="stylesheet" href="{% static 'root/assets/vendor/animate.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/dist/css/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/vendor/chartist-js/chartist.min.css' %}">
<!---->
<link rel="stylesheet" href="{% static 'assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css' %}">
<link rel="stylesheet" href="{% static 'root/assets/vendor/fancybox/jquery.fancybox.min.css' %}">

<link rel="stylesheet" href="{% static 'root/assets/vendor/hamburgers/hamburgers.min.css' %}">

<!-- CSS Unify -->
<link rel="stylesheet" href="{% static 'assets/css/unify-admin.css' %}">

<!-- CSS Customization -->
<link rel="stylesheet" href="{% static 'root/assets/css/custom.css' %}">

<link href="{% static 'fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">