{%load static%}
<header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-light u-shadow-v22 g-min-height-65">
      <nav class="navbar no-gutters g-pa-0">
        <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
          <!-- Logo -->
          <a href="/" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
            Labo App
          </a>
          <!-- End Logo -->

          <!-- Sidebar Toggler -->
          <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
            <i class="hs-admin-align-left"></i>
          </a>
          <!-- End Sidebar Toggler -->
        </div>
          <!-- Top User -->
          <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
            <div class="g-pos-rel g-px-10--lg">
              <a id="profileMenuInvoker" class="d-block" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel">
                    <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-secondary g-mr-5"></span>
                    {% if role == 'Admin' %}
                      <i class="fas fa-user-tie g-color-gray-dark-v3 g-font-size-22 g-px-10"></i>
                    {% elif role == 'Doctor' %}
                      <i class="fas fa-user-md g-color-gray-dark-v3 g-font-size-22 g-px-10"></i>
                    {% else %}
                      <i class="fas fa-user-injured g-color-gray-dark-v3 g-font-size-22 g-px-10"></i>
                    {% endif %}
                </span>
                <span class="g-pos-rel g-font-size-18">
                    {% if role == 'Admin' %}
                     <span class="g-hidden-sm-down g-color-primary">{{first_name}}</span>
                    {% elif role == 'Doctor' %}
                      <span class="g-hidden-sm-down g-color-secondary">{{first_name}}</span>
                    {% else %}
                      <span class="g-hidden-sm-down g-color-teal-v3">{{first_name}}</span>
                    {% endif %}
                    <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                </span>
              </a>

              <!-- Top User Menu -->
              <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-12 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                
                <li class="g-mb-10">
                  <a class="media g-color-secondary--hover g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
                      <i class="hs-admin-user"></i>
                    </span>
                    {% if role == 'Admin' %}
                      <span class="media-body align-self-center my-menu-item" id='profil-admin'>Mon Profil</span>
                    {% elif role == 'Doctor' %}
                      <span class="media-body align-self-center my-menu-item" id='profil-medecin'>Mon Profil</span>
                    {% else %}
                      <span class="media-body align-self-center my-menu-item" id='profil-patient'>Mon Profil</span>
                    {% endif %} 
                  </a>
                </li>
            
                <li class="mb-0">
                  <a class="media g-color-secondary--hover g-py-5 g-px-20" href="logout">
                    <span class="d-flex align-self-center g-mr-12">
                    <i class=" hs-admin-shift-right"></i>
                    </span>
                    <span class="media-body align-self-center">Se Déconnecter</span>
                  </a>
                </li>
              </ul>
              <!-- End Top User Menu -->
            </div>
          </div>
          <!-- End Top User -->
        </div>
        <!-- End Messages/Notifications/Top Search Bar/Top User -->

       
      </nav>

     

    </div>
  </header>