{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Unify Profile | | Unify - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{% static 'root/assets/vendor/bootstrap/bootstrap.min.css' %}">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="{% static 'root/assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/icon-line/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/icon-etlinefont/style.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/icon-line-pro/style.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/animate.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/vendor/hamburgers/hamburgers.min.css' %}">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="{% static 'root/assets/css/unify-core.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/css/unify-components.css' %}">
  <link rel="stylesheet" href="{% static 'root/assets/css/unify-globals.css' %}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'root/assets/css/custom.css' %}">
</head>

<body>
  <main>

    <!-- Header -->
    
    <!-- End Header -->

    <!-- Breadcrumb -->
    <section >
      <div class="container">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-7">
           
          </li>
          <li class="list-inline-item g-mr-7">
            
          </li>
          <li class="list-inline-item g-color-primary">
           
          </li>
        </ul>
      </div>
    </section>
    <!-- End Breadcrumb -->

    <section>
      <div class="container-fluid">
        <div class="row g-pa-20">
          <!-- Profile Sidebar -->
          <div class="col-lg-3 g-mb-50 g-mb-0--lg">
            <!-- User Image -->
            <div class="u-block-hover g-pos-rel">
              <figure>
                <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{% static 'root/assets/directeur.png' %}" alt="Image Description">
              </figure>

              <!-- Figure Caption -->
              <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <!-- Figure Social Icons -->
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                        <i class="icon-note u-line-icon-pro"></i>
                      </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                        <i class="icon-notebook u-line-icon-pro"></i>
                      </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- End Figure Social Icons -->
                </div>
              </figcaption>
              <!-- End Figure Caption -->

              <!-- User Info -->
                <span class="g-pos-abs g-top-20 g-left-0">
                  <a class="btn btn-sm u-btn-primary rounded-0" href="#"> Mahmoud mohamed </a>
                  <small class="d-block g-bg-black g-color-white g-pa-5">Directeur général</small>
                </span>
              <!-- End User Info -->
            </div>
            <!-- User Image -->

            <!-- Sidebar Navigation -->
            <div class="list-group list-group-border-0 g-mb-40">
              <!-- Overall -->
              <a href="page-profile-main-1.html" class="list-group-item justify-content-between active"> 
              </a>
              <!-- End Overall -->
            </div>
            <!-- End Sidebar Navigation -->

            <!-- Project Progress -->
            <div class="card border-0 rounded-0 g-mb-50">
              <!-- Panel Header -->
              <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                <h3 class="h6 mb-0">
                    <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i> Répartition des patients
                  </h3>
                <div class="dropdown g-mb-10 g-mb-0--md">
                    <span class="d-block g-color-primary--hover g-cursor-pointer g-mr-minus-5 g-pa-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-options-vertical g-pos-rel g-top-1"></i>
                    </span>
                  <div class="dropdown-menu dropdown-menu-right rounded-0 g-mt-10">
                    <a class="dropdown-item g-px-10" href="#">
                      <i class="icon-layers g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Statistiques
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item g-px-10" href="#">
                      <i class="icon-plus g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>Voir plus
                    </a>

                  </div>
                </div>
              </div>
              <!-- End Panel Header -->

              <!-- Panel Body -->
              <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-300 g-pa-0">
                <!-- Web Design -->
                <div class="g-mb-20">
                  <h6 class="g-mb-10">Hospitalisés <span class="float-right g-ml-10">38%</span></h6>
                  <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-cyan u-progress-bar--xs" role="progressbar" style="width: 38%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small class="g-font-size-12">plus de 11% par rapport au week-end précédent</small>
                </div>
                <!-- End Web Design -->

                <!-- Unify Project -->
                <div class="g-mb-20">
                  <h6 class="g-mb-10">Urgences <span class="float-right g-ml-10">16%</span></h6>
                  <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-pink u-progress-bar--xs" role="progressbar" style="width: 16%;" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small class="g-font-size-12">plus de 25% par rapport au week-end précédent</small>
                </div>
                <!-- End Unify Project -->

                <!-- Unify Project -->
                <div class="g-mb-20">
                  <h6 class="g-mb-10">Sous traitement <span class="float-right g-ml-10">46%</span></h6>
                  <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-blue u-progress-bar--xs" role="progressbar" style="width: 46%;" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small class="g-font-size-12">moins de 7% par rapport au week-end précédent</small>
                </div>
                <!-- End Unify Project -->

              </div>
              <!-- End Panel Body -->
            </div>
            <!-- End Project Progress -->
          </div>
          <!-- End Profile Sidebar -->

          <!-- Profile Content -->
          <div class="col-lg-9">
            <!-- Overall Statistics -->
            <div class="row g-mb-40">
              <div class="col-md-6 g-mb-30 g-mb-0--md">
                <div class="g-bg-cyan g-color-white g-pa-25">
                  <header class="d-flex text-uppercase g-mb-40">
                    <i class="icon-people align-self-center display-4 g-mr-20"></i>

                    <div class="g-line-height-1">
                      <h4 class="h5">Total de patients</h4>
                      <div class="js-counter g-font-size-30" data-comma-separated="true">580</div>
                    </div>
                  </header>

                  <div class="d-flex justify-content-between text-uppercase g-mb-25">
                    <div class="g-line-height-1">
                      <h5 class="h6 g-font-weight-600"> Week-end précédent</h5>
                      <div class="js-counter g-font-size-16" data-comma-separated="true">530</div>
                    </div>

                    <div class="text-right g-line-height-1">
                      <h5 class="h6 g-font-weight-600"> Mois précédent</h5>
                      <div class="js-counter g-font-size-16" data-comma-separated="true">634</div>
                    </div>
                  </div>

                  <h6 class="g-mb-10">Sous traitement <span class="float-right g-ml-10">46%</span></h6>
                  <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: 46%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small class="g-font-size-12">moins de 3% par rapport au mois précédent</small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="g-bg-purple g-color-white g-pa-25">
                  <header class="d-flex text-uppercase g-mb-40">
                    <i class="icon-layers align-self-center display-4 g-mr-20"></i>

                    <div class="g-line-height-1">
                      <h4 class="h5">Total de Recettes</h4>
                      <div class="js-counter g-font-size-30" data-comma-separated="true">15524000</div>
                    </div>
                  </header>

                  <div class="d-flex justify-content-between text-uppercase g-mb-25">
                    <div class="g-line-height-1">
                      <h5 class="h6 g-font-weight-600">Week-end précédent</h5>
                      <div class="js-counter g-font-size-16" data-comma-separated="true">13254000</div>
                    </div>

                    <div class="text-right g-line-height-1">
                      <h5 class="h6 g-font-weight-600">Mois précédent</h5>
                      <div class="js-counter g-font-size-16" data-comma-separated="true">17125000</div>
                    </div>
                  </div>

                  <h6 class="g-mb-10">CNAM <span class="float-right g-ml-10">59%</span></h6>
                  <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: 59%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small class="g-font-size-12">moins de 2.6% par rapport au mois précédent</small>
                </div>
              </div>
            </div>
            <!-- End Overall Statistics -->

           

            <!-- here -->

            <!-- Projects & Activities Panels -->
            <div class="row g-mb-40">
                <div class="col-lg-12 g-mb-40 g-mb-0--lg">
                    <!-- Latest Projects Panel -->
                    <div class="card border-0">
                    <!-- Panel Header -->
                    <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                        <h3 class="h6 mb-0">
                            <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i> Urgences récentes
                        </h3>
                    </div>
                    <!-- End Panel Header -->

                    <!-- Panel Body -->
                    <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-400 g-pa-0">
                        <ul class="list-unstyled">
                        <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-pink-left rounded g-pa-20 g-mb-10">
                            <div class="d-flex g-mt-2 g-mr-15">
                            <img class="g-width-40 g-height-40 rounded-circle" src="{% static 'root/assets/img-temp/100x100/img1.jpg' %}" alt="Image Description">
                            </div>
                            <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="h6 g-font-weight-600 g-color-black">Opération hépatique</h5>
                                <span class="small text-nowrap g-color-pink">2 heures</span>
                            </div>
                            <p>Le patient dont le code #P15896 est entré en salle d'opération #S15 pour une chirurgie hépatique.</p>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Chirurgie hépatique</span>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Urgence</span>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Lobectomie</span>
                            </div>
                        </li>

                        <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-pink-left rounded g-pa-20 g-mb-10">
                            <div class="d-flex g-mt-2 g-mr-15">
                            <img class="g-width-40 g-height-40 rounded-circle" src="{% static 'root/assets/img-temp/100x100/img5.jpg' %}" alt="Image Description">
                            </div>
                            <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="h6 g-font-weight-600 g-color-black">Opération Fracture du bras</h5>
                                <span class="small text-nowrap g-color-pink">1 jour</span>
                            </div>
                            <p>Hac consectetur habitasse platea dictumst, adipiscing elitut leosit amet, consectetur eleifend.</p>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Fracture du radius</span>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Accident</span>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Radiographie</span>
                            </div>
                        </li>

                        <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-pink-left  rounded g-pa-20 g-mb-10">
                            <div class="d-flex g-mt-2 g-mr-15">
                            <img class="g-width-40 g-height-40 rounded-circle" src="{% static 'root/assets/img-temp/100x100/img4.jpg' %}" alt="Image Description">
                            </div>
                            <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="h6 g-font-weight-600 g-color-black">Patient en reanimation</h5>
                                <span class="small text-nowrap g-color-pink">2 jour</span>
                            </div>
                            <p>Curabitur hendrerit dolor sit amet consectetur. Adipiscing elitut leosit amet, consectetur eleifend.</p>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Reanimation</span>
                            <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">Crise cardiaque</span>
                            </div>
                        </li>
                        </ul>
                    </div>
                    <!-- End Panel Body -->
                    </div>
                    <!-- End Latest Projects Panel -->
                </div>
            </div>
            <!-- End Projects & Activities Panels -->

            <!-- Profil Champs -->
            <div id="nav-1-1-default-hor-left-underline" class="tab-content">
              <!-- Edit Profile -->
              <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel" data-parent="#nav-1-1-default-hor-left-underline">
                <h2 class="h4 g-font-weight-300">Informations de l'hopital</h2>
                

                <ul class="list-unstyled g-mb-30">
                  <!-- Name -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nom</strong>
                      <span class="align-top">Clinique Chiva</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Name -->

                  <!-- Your ID -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Identifiant National</strong>
                      <span class="align-top">CL032440</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Your ID -->

                  <!-- Company Name -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Address</strong>
                      <span class="align-top">Tevragh-Zeina, Nouakchott, Mauritanie</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Company Name -->

                  <!-- Position -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Horaires d'ouverture</strong>
                      <span class="align-top">7 jour sur 7 - 24h sur 24</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Position -->

                  <!-- Primary Email Address -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Email</strong>
                      <span class="align-top">cliquechiva@gmail.com</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Primary Email Address -->


                  <!-- Website -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Site Web</strong>
                      <span class="align-top">www.cliquechiva.com</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Website -->


                  <!-- Phone Number -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Contact</strong>
                      <span class="align-top">+22245687890</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Phone Number -->

                  

                  <!-- Office Number 
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Office number</strong>
                      <span class="align-top">(+123) 456 7891</span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>-->
                  <!-- End Office Number -->

                  <!-- Address -->
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Total de Personnel</strong>
                      <span class="align-top"> 76 </span>
                    </div>
                    <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
                  </li>
                  <!-- End Address -->
                </ul>

                <div class="text-sm-right">
                  <a class="btn rounded-0 g-py-12 g-px-25 g-mr-10" href="#"></a>
                </div>
              </div>
              <!-- End Edit Profile -->
            </div>
            <!-- Profil -->

            <!-- Product Table Panel -->
            <div class="card border-0">
              <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                <h3 class="h6 mb-0">
                    <i class="icon-directions g-pos-rel g-top-1 g-mr-5"></i> Personnel de l'hopital
                  </h3>
                <div class="dropdown g-mb-10 g-mb-0--md">
                    <span class="d-block g-color-primary--hover g-cursor-pointer g-mr-minus-5 g-pa-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-options-vertical g-pos-rel g-top-1"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right rounded-0 g-mt-10">
                   
                        <a class="dropdown-item g-px-10" href="#">
                        <i class="icon-layers g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Statistiques
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item g-px-10" href="#">
                        <i class="icon-plus g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>Voir plus
                        </a>
                    </div>
                </div>
              </div>

              <div class="card-block g-pa-0">
                <!-- Product Table -->
                <div class="table-responsive">
                  <table class="table table-bordered u-table--v2">
                    <thead class="text-uppercase g-letter-spacing-1">
                      <tr>
                        <th class="g-font-weight-300 g-color-black">Nom complet</th>
                        <th class="g-font-weight-300 g-color-black g-min-width-200">Address</th>
                        <th class="g-font-weight-300 g-color-black">Spécialité</th>
                        <th class="g-font-weight-300 g-color-black">Contact</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td class="align-middle text-nowrap">
                          <h4 class="h6 g-mb-2">Fadel Ba</h4>
                        </td>
                        <td class="align-middle">
                          <div class="d-flex">
                            <i class="icon-location-pin g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                            <span>Tvz , illot 103 , Nouakchott </span>
                          </div>
                        </td>
                        <td class="align-middle">
                          <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="#">
                             Cardiologue
                          </a>
                        </td>
                        <td class="align-middle text-nowrap">
                          <span class="d-block g-mb-5">
                            <i class="icon-phone g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> 22569887
                          </span>
                          <span class="d-block">
                            <i class="icon-envelope g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> fadelba@gmail.com
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td class="align-middle text-nowrap">
                          <h4 class="h6 g-mb-2">Mariam Vadel</h4>
                        </td>
                        <td class="align-middle">
                          <div class="d-flex">
                            <i class="icon-location-pin g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                            <span>Ksar , illot 102 , Nouakchott</span>
                          </div>
                        </td>
                        <td class="align-middle">
                          <a class="btn btn-block u-btn-pink g-rounded-50 g-py-5" href="#">
                             Sage-femme
                          </a>
                        </td>
                        <td class="align-middle text-nowrap">
                          <span class="d-block g-mb-5">
                            <i class="icon-phone g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> 44625008
                          </span>
                          <span class="d-block">
                            <i class="icon-envelope g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> mariamvadel@outlook.com
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td class="align-middle text-nowrap">
                          <h4 class="h6 g-mb-2">Sadana Mahmoud</h4>
                        </td>
                        <td class="align-middle">
                          <div class="d-flex">
                            <i class="icon-location-pin g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                            <span>Tvz , Nouakchott</span>
                          </div>
                        </td>
                        <td class="align-middle">
                          <a class="btn btn-block u-btn-cyan g-rounded-50 g-py-5" href="#">
                             Chirurgien chef
                          </a>
                        </td>
                        <td class="align-middle text-nowrap">
                          <span class="d-block g-mb-5">
                            <i class="icon-phone g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> 20733644
                          </span>
                          <span class="d-block">
                            <i class="icon-envelope g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> sadana896@gmail.com
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td class="align-middle text-nowrap">
                          <h4 class="h6 g-mb-2">Brahim Ahmed </h4>
                        </td>
                        <td class="align-middle">
                          <div class="d-flex">
                            <i class="icon-location-pin g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                            <span>Cite plage , illot 105 , Nouakchott</span>
                          </div>
                        </td>
                        <td class="align-middle">
                          <a class="btn btn-block u-btn-purple g-rounded-50 g-py-5" href="#">
                            Chef d'urgence
                          </a>
                        </td>
                        <td class="align-middle text-nowrap">
                          <span class="d-block g-mb-5">
                            <i class="icon-phone g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> 35896451
                          </span>
                          <span class="d-block">
                            <i class="icon-envelope g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> brahim89@gmail.com
                          </span>
                        </td>
                      </tr>

                      
                    </tbody>
                  </table>
                </div>
                <!-- End Product Table -->
              </div>
            </div>
            <!-- End Product Table Panel -->
          </div>
          <!-- End Profile Content -->
        </div>
      </div>
    </section>

    <!-- Footer -->
  
    <!-- End Footer -->

    <!-- Copyright Footer -->
    
    <!-- End Copyright Footer -->
   
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="{% static 'root/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'root/assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'root/assets/vendor/popper.js/popper.min.js' %}"></script>
  <script src="{% static 'root/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>


  <!-- JS Implementing Plugins -->
  <script src="{% static 'root/assets/vendor/appear.js' %}"></script>
  <script src="{% static 'root/assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'root/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

  <!-- JS Unify -->
  <script src="{% static 'root/assets/js/hs.core.js' %}"></script>
  <script src="{% static 'root/assets/js/helpers/hs.hamburgers.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.header.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.tabs.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.counter.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.progress-bar.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.rating.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.scrollbar.js' %}"></script>
  <script src="{% static 'root/assets/js/components/hs.go-to.js' %}"></script>

  <!-- JS Customization -->
  <script src="{% static 'root/assets/js/custom.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>



  
</body>

</html>
